{{define "admin_control"}}

    <button type="button" name="reset" onclick="control('reset')" class="btn btn-default btn-lg">Reset</button>
    <button type="button" name="zero"  onclick="control('zero')"  class="btn btn-default btn-lg">Zero </button>

    <br />
    <br />
    
    <table class="table">
    <tr>
      <td>Dispenser</td>
      <td>Move to</td>
      <td>Param</td>
      <td>Dispense</td>
      <td>Move then dispense</td>
      <td>Ingrediant<td>
    </tr>
    
    {{range .Dispensers}}
    <tr>
      <td>{{.Name}}</td>
      <td><button type="button" name="move" onclick="move({{.Rail_position}})" class="btn btn-default btn-lg">Move</button></td>
      <td><input type="text" name="D{{.Id}}" id="D{{.Id}}" class="form-control" value="1"></td>
      <td><button type="button" name="dispense" onclick="dispense({{.Id}})" class="btn btn-danger btn-lg">Dispense</button></td>
      <td><button type="button" name="md" onclick="moveDispense({{.Id}}, {{.Rail_position}})" class="btn btn-success btn-lg">Move &amp; Dispense</button></td>
      <td>{{.Ingredient}}</td>
    </tr>
    {{end}}

    </table>

    <script>
      function dispense(id)
      {
        var xmlhttp;
        if (window.XMLHttpRequest)
        {
          xmlhttp=new XMLHttpRequest();
        }

        xmlhttp.open("GET","/admin/control/dispense/" + id + "/" + document.getElementsByName('D' + id)[0].value,true);
        xmlhttp.send();
      }

      function moveDispense(id, railPosition)
      {
        var xmlhttp;
        if (window.XMLHttpRequest)
        {
          xmlhttp=new XMLHttpRequest();
        }

        xmlhttp.open("GET","/admin/control/md/" + railPosition + "/" + id + "/" + document.getElementsByName('D' + id)[0].value,true);
        xmlhttp.send();
      }

      function move(railPosition)
      {
        var xmlhttp;
        if (window.XMLHttpRequest)
        {
          xmlhttp=new XMLHttpRequest();
        }

        xmlhttp.open("GET","/admin/control/move/" + railPosition, true);
        xmlhttp.send();
      }

      function control(cmd)
      {
        var xmlhttp;
        if (window.XMLHttpRequest)
        {
          xmlhttp=new XMLHttpRequest();
        }

        xmlhttp.open("GET","/admin/control/" + cmd, true);
        xmlhttp.send();
      }
    </script>  

{{end}}