{{define "menu"}}
    <h1>{{.Title}}</h1>
    
    {{$admin := .Admin}}
    
    <table class="table table-bordered">
      {{with .Recipes}}
        {{range .}}
          <tr>
            {{if $admin}}
            <td style="width: 100px;"><a href="details/{{.Id}}"><img src="{{.ImageName}}" class="img-rounded" width="100px" alt="{{.Name}}"></a></td> 
            {{else}}
            <td style="width: 100px;"><a href="{{.Id}}"><img src="{{.ImageName}}" class="img-rounded" width="100px" alt="{{.Name}}"></a></td> 
            {{end}}
            <td>
                <h3><a href="{{.Id}}">{{.Name}}</a></h3>
                <p>{{.Description}}</p>
                <img src="{{.AlcoholIcon}}">
                <img src="{{.VeganIcon}}">
            </td>
          </tr>
        {{end}}
      {{end}}
    </table>
{{end}}
